body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-family: Georgia, serif;
  background-color: grey;
}

.cherry {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  width: 50%;
  height: 100%;
  background-color: white;
  z-index: 0;
  position: absolute
}

.title {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: center;
  font-size: 10rem;
  font-weight: bold;
  margin: 0;
  z-index: 1;
  position: absolute
}

.subtitle {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  text-align: center;
  font-size: 4rem;
  color: #9c0e11;
}
