body {
    background-color: #5ca0d7;
    text-align: center;
    max-width : 500px;
    margin: 0 auto;
    color: white;
}

#edu_heading {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 3em;
    font-weight: bold;
    
}

#edu_heading:hover {
    color: black;
}

#paragraph1 {
    font-family: "Cormorant Garamond", serif;
}

#list {
    font-family: "Darker Grotesque", sans-serif;
    color: black;
    text-align: start;
    font-weight: bold;
}